:root{
    --aside-width: 10vw;
    --gradiente-padaro: linear-gradient(127deg, rgba(239,181,23,1) 0%, rgba(249,95,20,1) 91%);
    --gradiente-padaro-intermediario: linear-gradient(127deg,  rgba(249,95,20,1) 0%, rgb(239, 153, 23) 20%, rgba(239,181,23,1) 71%);
    --gradiente-padaro-invertido: linear-gradient(127deg,  rgba(249,95,20,1) 0%, rgba(239,181,23,1) 91%);
    --font-color-clara: #d0d0d0;
    --color-font-sem-destaque :#6a7075
}
#app{
    display: flex;
    min-height: 100vh;
}
::-webkit-scrollbar {
    width: 0;
}
aside{
    width: var(--aside-width);
    background-color: #1d1c23;
    color: #534f64;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 135px;
    flex: auto;
    height: inherit;
}
main{
    width: calc(100vw - var(--aside-width));
    background-color: #0d0d0d;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    flex: auto;
}
.aside-menu,
.aside-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside-titulo{
    padding-top: 1rem;
    flex: 1;
    font-size: 1.5rem;
}
.aside-menu{
    flex: 3;
}
.aside-menu nav{
    background-color: #302f36;
    border-radius: 1rem;
}
.aside-menu nav ul{
    list-style-type: none;
    margin: 0;
    padding: 1rem 0.7rem;
    font-size: 1.2rem;
}
.aside-menu nav ul li{
    padding: 0.7rem 0.9rem;
    text-align: center;
    border-radius: 0.4rem;
    transition: color,background-color 500ms ease;
}
.aside-menu nav ul li:hover{
    color: #302f36;
    transition: all 500ms ease;
    background-color: #534f64;
}
.aside-menu nav ul li.active{
    background: var(--gradiente-padaro);
}
.aside-avatar{
    flex: 1;
}
.aside-avatar .btn-avatar{
    width: 4rem;
    border-radius: 100%;
    border: 3px solid #534f64;
}
main footer{
    min-height: 100px;
}
main section{
    flex: auto;
    display: flex;
    flex-direction: column;
}
main section nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}
main section a{
    text-decoration: none;
}
main section nav .item-nav-menu{
    margin-right:2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 0.9rem;
    transition: all 1s ease;
}
main section nav .item-nav-menu:hover,
main section nav .item-nav-menu.action{
    transition: all 500ms ease;
    background: var(--gradiente-padaro);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    transform: scale(1.1);
}

main footer .player{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.controles{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.controles > div{
    flex: 1;
}
.player .div-play-pause{
    text-align: center;
    color: #fff;
}
.player .div-info{
    margin-top: 1rem;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 800;
}

.player .div-info .musica{
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
}
.player .div-info i {
    background: var(--gradiente-padaro);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 1.4em;
    animation: trocabackgroundgradiente 500ms ease-in-out;
    animation-iteration-count: infinite;
}

.player .div-player-volume{
    text-align: right;
}
.player .play-pause{
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--gradiente-padaro);
    border: none;
    color: #fff;    
}
.player .play-pause[data-status=play]{
    animation: trocarplay 500ms ease-in-out;
    animation-iteration-count: infinite;
}
.player .play-pause:hover{
    transition: all 1s ease;
    background: var(--gradiente-padaro-invertido);
    color: var(--font-color-clara);
}
.player .player-volume{
    color: #fff;
}

.player .div-acao span {
    float: left;
    background-color: #302f36;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    margin: 0 0.15rem;
    color: #534f64;
}

.player .div-acao span:hover {
    background-color: #534f64;    
    color: #302f36;
}

.card{
    border-radius: 10px;
    width: 100%;
    height: 15vh;
}

.card-top-destaque{
    position: relative;
    background-image: url(https://i.ytimg.com/vi/fPWSm5wZ8_M/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    box-shadow: 
        0px 1px 3px 1px #42424233, 
        inset 2px 6rem 76px -23px rgba(0,0,0,0.51),
        inset 2px 5rem 76px -23px rgba(0,0,0,0.51),
        inset 2px 4rem 76px -23px rgba(0,0,0,0.51);
}

.card-top-destaque-info{
    top:50%;
    left: 2rem;
    transform: translateY(-50%);
    position: absolute;
    color: rgb(240, 240, 240);
}

section .info-musica{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex: auto;
    height: inherit;
}

section .info-musica .container-top{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 45vh;
}

section .info-musica .titulo{
    font-weight: 900;
    color: #fff;
}
/* muscias e plkaylists */
.info-musica h2.titulo{
    margin-bottom: 3vh;
    color: var(--font-color-clara);
}
.top-10-item, 
.top-artistas-item{
    display: flex;
    flex-direction: row;
    color:var(--color-font-sem-destaque);
    align-items: center;
    margin-right: 5vw;
    font-size: 1.2em;
    margin-bottom: 1em;
}
.top-10-item .imagem img,
.top-artistas-item .imagem img{
    width: 5em;
    height: 5em;
    object-fit: cover;
}
.top-artistas-item .imagem img{
    border-radius: 50%;
}
.top-10-item .info,
.top-artistas-item .info{
    flex: auto;
    padding-left: 1em;
    font-weight: 600;
}

.top-artistas-item .info {
    color: var(--font-color-clara);
}
.top-10-item-musica{
    color: var(--font-color-clara);
    font-weight: 900;
}
.top-artistas-item .link{
    color: #fff;
}
.top-artistas-item,
.top-10-item{
    filter: grayscale(50%);
    transition: all 500ms cubic-bezier();
}
.top-artistas-item:hover,
.top-10-item:hover{
    filter: grayscale(0);
}

@media (max-width: 700px)
{
    section .info-musica{
        grid-template-columns: 1fr;
    }
}
/* muscias e plkaylists */


@media (max-width: 800px)
{
    .aside-titulo span{
        display: none;
    }
}

@media (max-width: 590px)
{    
    aside{
        min-width: 90px;
    }
}

@media (max-width: 450px)
{    
    main section nav{
        flex-direction: column;
    }
}

@keyframes trocabackgroundgradiente {
    0% { 
        background: var(--gradiente-padaro);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
     }
    50% { background: var(--gradiente-padaro-intermediario);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    100% { background: var(--gradiente-padaro-invertido);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
}

@keyframes trocarplay {
    0% { 
        transform: scale(1.2);
     }
    25% { 
        transform: scale(1.5);
    }
    50% { 
        transform: scale(1.1);
     }
     75%{
        transform: scale(1.3);
     }
    100% { 
        transform: scale(1);
     }
}