:root{
    --aside-width: 10vw
}
#app{
    display: flex;

}
::-webkit-scrollbar {
    width: 0;
}
aside{
    width: var(--aside-width);
    background-color: #1d1c23;
    height: 100vh;
    color: #534f64;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 135px;
}
main{
    width: calc(100vw - var(--aside-width));
    background-color: #0d0d0d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}
.aside-menu,
.aside-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside-titulo{
    padding-top: 1rem;
    flex: 1;
    font-size: 1.5rem;
}
.aside-menu{
    flex: 3;
}
.aside-menu nav{
    background-color: #302f36;
    border-radius: 1rem;
}
.aside-menu nav ul{
    list-style-type: none;
    margin: 0;
    padding: 1rem 0.7rem;
    font-size: 1.2rem;
}
.aside-menu nav ul li{
    padding: 0.7rem 0.9rem;
    text-align: center;
    border-radius: 0.4rem;
}
.aside-menu nav ul li.active{
    background: linear-gradient(127deg, rgba(239,181,23,1) 0%, rgba(249,95,20,1) 91%);
}
.aside-avatar{
    flex: 1;
}
.aside-avatar .btn-avatar{
    width: 4rem;
    border-radius: 100%;
    border: 3px solid #534f64;
}
main footer{
    height: 100px;
}
main section{
    flex: auto;
}
main section nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}
main section nav .item-nav-menu{
    margin-right:2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 0.9rem;
}
main section nav .item-nav-menu.action{
    background: linear-gradient(127deg, rgba(239,181,23,1) 0%, rgba(249,95,20,1) 91%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 900;
}

.card{
    border-radius: 10px;
    width: 100%;
    height: 15vh;
}

.card-top-destaque{
    position: relative;
    background-image: url(https://i.ytimg.com/vi/fPWSm5wZ8_M/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    box-shadow: 
        1px 2px 3px 0px #42424273, 
        inset 2px 6rem 76px -23px rgba(0,0,0,0.51),
        inset 2px 5rem 76px -23px rgba(0,0,0,0.51),
        inset 2px 4rem 76px -23px rgba(0,0,0,0.51);
}

.card-top-destaque-info{
    top:50%;
    left: 2rem;
    transform: translateY(-50%);
    position: absolute;
    color: rgb(240, 240, 240);
}

section .info-musica{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

@media (max-width: 800px)
{
    .aside-titulo span{
        display: none;
    }
}

@media (max-width: 590px)
{    
    aside{
        min-width: 90px;
    }
}