:root{
    --aside-width: 10vw
}
#app{
    display: flex;

}
::-webkit-scrollbar {
    width: 0;
}
aside{
    width: var(--aside-width);
    background-color: #1d1c23;
    height: 100vh;
    color: #534f64;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 135px;
}
main{
    width: calc(100vw - var(--aside-width));
    background-color: #0d0d0d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}
.aside-menu,
.aside-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside-titulo{
    padding-top: 1rem;
    flex: 1;
    font-size: 1.5rem;
}
.aside-menu{
    flex: 3;
}
.aside-menu nav{
    background-color: #302f36;
    border-radius: 1rem;
}
.aside-menu nav ul{
    list-style-type: none;
    margin: 0;
    padding: 1rem 0.7rem;
    font-size: 1.2rem;
}
.aside-menu nav ul li{
    padding: 0.7rem 0.9rem;
    text-align: center;
    border-radius: 0.4rem;
}
.aside-menu nav ul li.active{
    background: linear-gradient(127deg, rgba(239,181,23,1) 0%, rgba(249,95,20,1) 91%);
}
.aside-avatar{
    flex: 1;
}
.aside-avatar .btn-avatar{
    width: 4rem;
    border-radius: 100%;
    border: 3px solid #534f64;
}
main footer{
    height: 100px;
}
main section{
    flex: auto;
}
main section nav ul{
    list-style-type: none;
}
main section nav ul li{
    float: left;
    margin: 0 1rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
main section nav ul li.action{
    background: linear-gradient(127deg, rgba(239,181,23,1) 0%, rgba(249,95,20,1) 91%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 900;
}

@media (max-width: 800px)
{
    .aside-titulo span{
        display: none;
    }
}

@media (max-width: 590px)
{    
    aside{
        min-width: 90px;
    }
}