<%- contentFor('body') %>
<div class="container-fala">
    <h1 class="titulo">Peça sua música </h1>
    <p>Se você tiver sorte, sua música vai ser escolhida para ser tocada ao vivo</p>
    <div class="campo">
        <label>Seu Nome</label>
        <div>
            <input type="text">
        </div>
    </div>
    <div class="campo">
        <label>Seu Música</label>
        <div>
            <input type="text">
        </div>
    </div>
    <div class="campo">
        <label>Mande uma mensagem</label>
        <div>
            <textarea></textarea>
        </div>
    </div>
    <div class="c-btn mt-4">
        <button>
            Enviar
        </button>
    </div>
</div>