<%- contentFor('body') %>
<div class="card card-top-destaque">
    <div class="card-top-destaque-info" >
        <h4>Top 1</h4>
        <h3>Zé vaqueiro - Meu mel</h1>
    </div>
</div>
<div class="info-musica">
    <div>
        <h2 class="titulo">Top 10</h2>
    </div>
    <div>
        <h2 class="titulo">Top Artistas</h2>
    </div>
</div>