<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>El - music</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div id="app">
    <aside>
      <div class="aside-titulo">
        <span>EL</span> 
        <i class="fas fa-water"></i> 
        <span>music</span>
      </div>
      <div class="aside-menu">
        <nav>
          <ul>
            <li class="active"><i class="fas fa-home"></i></li>
            <li><i class="fas fa-user"></i></li>
            <li><i class="fas fa-layer-group"></i></li>
          </ul>
        </nav>
      </div>
      <div class="aside-avatar">
        <div class="btn-avatar">
          <img src="svg/avatar-aside.svg"/>
        </div>
      </div>
    </aside>
    <main>
      <section>
        <nav>
            <div class="item-nav-menu action">Home<div>●</div></div>
            <div class="item-nav-menu">Paça a sua musiaca</div>
            <div class="item-nav-menu">Playlists</div>
          </ul>
        </nav>
        <%- body %>
      </section>
      <footer class="player">
        <div class="controles">
          <div class="div-acao" >
              <span><i class="far fa-heart"></i></span>
              <span><i class="fas fa-expand-alt"></i></span>
              <span><i class="fab fa-whatsapp"></i></span>
          </div>
          <div class="div-play-pause">                     
            <button class="play-pause">
              <i class="fas fa-play"></i>
            </button>
          </div>
          <div class="div-player-volume">
            <span class="player-volume">
              <i class="fas fa-volume-mute"></i>
              <input type="range"/>
              <i class="fas fa-volume-up"></i>
            </span>
          </div>
        </div>
        <div class="time-line">
          <div class="div-info" >
            <i class="fas fa-broadcast-tower"></i>
            As mais pedias da semana - <span class="musica">Luiza e Maurílio - "S" de Saudade part Zé Neto e Cristiano</span>
        </div>
        </div>
      </footer>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>  