<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>El - music</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div id="app">
    <aside>
      <div class="aside-titulo">
        <span>EL</span> 
        <i class="fas fa-water"></i> 
        <span>music</span>
      </div>
      <div class="aside-menu">        
        <nav>
          <ul>
            <a href="/">
              <li>
                <i class="fas fa-home"></i>
              </li>
            </a>
            <a href="/fala">
              <li> 
                <i class="fas fa-user"></i>
              </li>
            </a>
            <a href="/playlist">
              <li>
                <i class="fas fa-layer-group"></i>
              </li>
            </a>
          </ul>
        </nav>
      </div>
      <div class="aside-avatar">
        <div class="btn-avatar">
          <a href="/perfil">
            <img src="svg/avatar-aside.svg"/>
          </a>
        </div>
      </div>
    </aside>
    <main>
      <section>
        <nav class="nav-menu">
          <div class="nav-logo">
            <i class="fas fa-water abrir-menu-lateral"></i> 
          </div>
          <div class="nav-itens-normais">
            <a href="/">
              <div class="item-nav-menu">Home</div>
            </a>
            <a href="/fala">
              <div class="item-nav-menu">Peça sua música</div>
            </a>
            <a href="/playlist">
              <div class="item-nav-menu">Playlists</div>
            </a>
          </div>            
        </nav>
        <%- body %>
      </section>
      <footer class="player">
        <div class="controles">
          <div class="div-acao" >
              <span class="expandir"><i class="fas fa-expand-alt"></i></span>
              <span class="zap"><i class="fab fa-whatsapp"></i></span>
          </div>
          <div class="div-play-pause">                     
            <button class="play-pause">
              <i class="fas fa-play"></i>
            </button>
          </div>
          <div class="div-player-volume">
            <span class="player-volume">
              <i class="fas fa-volume-mute"></i>
              <input type="range"/>
              <i class="fas fa-volume-up"></i>
            </span>
          </div>
        </div>
        <div class="time-line">
          <div class="div-info" >
            <i class="fas fa-broadcast-tower"></i>
            As mais pedias da semana - <span class="musica">SET ILLUSIONIZE, VICTOR LOU </span>
        </div>
        </div>
      </footer>
    </main>
    <audio id="play-audio"></audio>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/main.js"></script>
</body>
</html>  